$color-primary-dark:#01a59d;
$color-primary-light:#00D1A0;
$color-secondary-dark:#0294d3;
$color-secondary-light:#50F1EA;
$color-text-light:grey;

.sign-up-container {
    //width: 50%;
    height: 100%;
    //padding: 5rem;
    background: rgb(255, 255, 255);
    display: grid;
    place-items: center;

}

.sign-up {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30%;

    h2 {
        font-size: 3rem;
        margin: 1rem 0;
        font-weight: 500;
    }

   
    form {

        & input:not(#remember-me) {
            width: 100%;
            margin: 1rem 0 1.5rem 0;
            padding: 1.2rem;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid rgb(203, 203, 203);
            font-size: 1.4rem;
            color: $color-text-light;

            &:focus {
                outline: none;
            }
        }

        .name{
            display: flex;
            flex-direction: row;
            margin: 1rem 0;
            justify-content: space-between;


            &>div{
                width: 45%;
                
            }
        }

        label {
            font-weight: 400;
        }

        

        button {
            background: $color-primary-light;
            color: white;
            margin: 2rem 0;
            padding: 1.5rem 2.5rem;
            border: none;
            border-radius: 5px;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 600;
            // box-shadow: 2px 2px 2px rgb(231, 231, 231);
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                box-shadow: 5px 5px 2px rgb(231, 231, 231);
                transform: translate(-5px, -5px);
            }
        }

        .signup-opt {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1.5rem;

            .remember {
                flex-grow: 1;
                display: flex;
                // align-items: baseline;

                label {
                    margin: auto 1rem;
                }
            }

            .forgot-pass {
                color: $color-primary-dark;
            }
        }


    }

    .no-account {
        text-align: center;
        margin: 2rem 0;
        padding: 1rem 0;
    }



}