@import './../../variables.scss';
@import './../../commonStyles.scss';

.sign-up-container {
    //width: 50%;
    height: 100%;
    //padding: 5rem;
    background: rgb(255, 255, 255);
    display: grid;
    place-items: center;

}

.sign-up {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30%;

    h2 {
        font-size: 3rem;
        margin: 1rem 0;
        font-weight: 500;
    }


    form {

        & input:not(#remember-me) {
            @include formInputStyle;
        }



        .name {
            display: flex;
            flex-direction: row;
            margin: 1rem 0;
            justify-content: space-between;


            &>div {
                width: 45%;

            }
        }

        label {
            font-weight: 400;
        }



        button {
            @include formSubmitBtnStyle;

            div {
                display: flex;
                position: relative;
                align-items: center;
            }

            span {
                width: 100%;
            }

            &:hover {
                box-shadow: 5px 5px 2px rgb(231, 231, 231);
                transform: translate(-5px, -5px);
            }
        }

        .signup-opt {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1.5rem;

            .remember {
                flex-grow: 1;
                display: flex;
                // align-items: baseline;

                label {
                    margin: auto 1rem;
                }
            }

            .forgot-pass {
                color: $color-primary-dark;
            }
        }


    }

    .no-account {
        text-align: center;
        margin: 2rem 0;
        padding: 1rem 0;
        
    }



}