@import './../../variables.scss';
@import './../../commonStyles.scss';

.sign-in-container {
    width: 100%;
    height: 100%;
    //padding: 5rem;
    background: rgb(255, 255, 255);
    display: grid;
    place-items: center;

}

.sign-in {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30%;

    h2 {
        font-size: 3rem;
        margin: 1rem 0;
        font-weight: 500;
    }

    h3 {
        margin-bottom: 3rem;
        color: $color-text-light;
        font-weight: 300;
    }

    form {

        .sign-in-error-text {
            @include errorTextStyle;
        }

        label {
            font-weight: 400;
        }

        &>input {
            @include formInputStyle;

        }

        button {
            @include formSubmitBtnStyle;

            div {
                display: flex;
                position: relative;
                align-items: center;
            }

            span {
                width: 100%;
            }

        }

        .signin-opt {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1.5rem;

            .remember {
                flex-grow: 1;
                display: flex;
                 align-items: center;

                label {
                    margin: auto 1rem;
                }
            }

            .forgot-pass {
                color: $color-primary-dark;
                font-weight: 600;
                cursor: pointer;
            }
        }


    }

    .sign-in-with-google {
        @include formSubmitBtnStyle;

        background: white;
        color: black;
        border: 1px solid rgb(203, 203, 203);
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            padding-right: 1rem;
        }

    }

    .no-account {
        text-align: center;
        margin: 2rem 0;
        padding: 1rem 0;
    }



}