@import './../../variables.scss';
@import './../../commonStyles.scss';

.chat-list {
    width: 40%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-right: 2px solid rgb(201, 201, 201);
    height: 100%;
}

.user-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(201, 201, 201);
    background-color: white;

    &>div:not(:last-child) {
        @include btnStyles;

    }
}

.search-btn,
.add-btn,
.bell-btn {}

.user-name {
    flex-grow: 1;
    text-align: left;
}

.chats {
    height: 90%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}


.user-setting-menu {

    position: relative;


    .menu-btn {

        div {
            @include btnStyles;
        }
    }

    .menu {
        width: max-content;
        position: absolute;
        color: white;
        background: $color-primary-dark;
        list-style-type: none;
        left: -120px;
        top: 50px;
        margin: 1rem;

        li {
            padding: 2rem;
            cursor: pointer;
            text-transform: capitalize;

            &:hover {
                background: $color-primary-light;
            }
        }

    }
}