@import './../../variables.scss';
@import './../../commonStyles.scss';

.message-list {
    width: 60%;
    background: rgb(218, 248, 250);

    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;


}

.contact-header {
    background: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(201, 201, 201);
    //border-left: 2px solid rgb(255, 255, 255);
    display: flex;
    // flex-direction: row;
    //justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    img:not(:first-child) {
        @include btnStyles;
    }
}

.contact-user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    margin: 1rem;
}

.contact-user-data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}

.search-btn,
.more-btn,
.call-btn {
   

}

.messages {
    flex-grow: 1;
    //background: rgb(193, 214, 215);
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;





}

.message {
    padding: 1rem;
    margin: 1rem;
    background: rgb(255, 255, 255);
    max-width: 60%;
    width: fit-content;
    text-align: justify;
    overflow-wrap: break-word;
    font-size: 1.4rem;
}

.contact-message {
    border-radius: 0 20px 20px;
    align-self: flex-start;

}

.user-message {
    border-radius: 20px 0 20px 20px;

    align-self: flex-end;
}

.message-send {
    height: 5%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 1rem 0;
    margin: 1rem;
    align-items: center;

    input {
        flex-grow: 1;
        border: none;
        margin: 0 1.2rem;
        outline: none;
        height: 100%;
        font-size: 1.4rem;

        &:active {
            border: none;
        }
    }

    .smile-btn,
    .send-btn {
        margin: 1rem 0;
        cursor: pointer;
        height: 40px;
        width: 40px;
        transition: all 0.3s;

        img {
            height: 50%;
            padding: 1rem;


        }

    }

    .send-btn {
        margin-right: 5px;
        background-color: $color-secondary-dark;
        padding: 5px;
        border-radius: 15px;

        img{
            padding-right: 0;
            filter: invert(100);

        }

        &:hover {
            background-color: $color-secondary-light;
        }
    }
}