.contact-list {
    width: 40%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-right: 2px solid rgb(201, 201, 201);
    height: 100%;
}

.user-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(201, 201, 201);
    background-color: white;

    img {
        cursor: pointer;
    }
}

.search-btn,
.add-btn,
.bell-btn {
    box-sizing: border-box;
    background: rgb(241, 241, 241);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;

    &:hover{
background: rgb(214, 214, 214);
    }
}

.user-name {
    flex-grow: 1;
    text-align: left;
}

.contacts {
    height: 90%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}